# Core functionality - changes here should be rare!
/src/app.py                   @colinmicha
/src/backend/database.py      @colinmicha
/src/backend/routers/auth.py  @colinmicha

# The frontend will need refactored soon to be more object oriented.
/src/static/   @colinmicha
